<h1>Lista de Contactos</h1>
<p>Datos de formularios recibidos.</p>

<table>
  <thead>
    <tr>
      <th id="t_head">Nombre <input class="filter" type="text" id="filterName" placeholder="Filtrar por nombre"></th>
      <th id="t_head">Email <input class="filter" type="text" id="filterEmail" placeholder="Filtrar por email"></th>
      <th id="t_head">Comentario</th>
      <th id="t_head">IP</th>
      <th id="t_head">País</th>
      <th id="t_head">Fecha</th>
    </tr>
  </thead>
  <tbody>
    <% contactos.forEach(contacto => { %>
      <tr>
        <td><%= contacto.name %></td>
        <td><%= contacto.email %></td>
        <td><%= contacto.message %></td>
        <td><%= contacto.ip %></td>
        <td><%= contacto.country %></td>
        <td><%= contacto.date %></td>
      </tr>
    <% }); %>
  </tbody>
</table>

<script>
 const filterName = document.getElementById('filterName');
 const filterEmail = document.getElementById('filterEmail');

 function filterTable() {
   const rows = document.querySelectorAll('table tbody tr');
   const nameFilter = filterName.value.toLowerCase();
   const emailFilter = filterEmail.value.toLowerCase();

   rows.forEach(row => {
     const nameCell = row.cells[0]; // Ajusta el índice si la columna de nombre no es la tercera
     const facultyCell = row.cells[1]; // Ajusta el índice si la columna de facultad no es la cuarta
     const nameMatch = nameCell.textContent.toLowerCase().includes(nameFilter);
     const facultyMatch = facultyCell.textContent.toLowerCase().includes(emailFilter);

     row.style.display = nameMatch && facultyMatch ? '' : 'none';
   });
 }

 // Asignar event listeners a todos los campos de filtro
 filterName.addEventListener('keyup', filterTable);
 filterEmail.addEventListener('keyup', filterTable);
 // ... otros event listeners ...
</script>