<meta property="og:header_01" content="<%- header_01 %>">
<meta property="og:header_02" content="<%- header_02 %>">
<meta property="og:header_03" content="<%- header_03 %>">

<meta property="og:carousel_title01" content="<%- carousel_title01 %>">
<meta property="og:carousel_caption01" content="<%- carousel_caption01 %>">
<meta property="og:carousel_img01" content="<%= carousel_img01 %>">

<meta property="og:carousel_title02" content="<%- carousel_title02 %>">
<meta property="og:carousel_caption02" content="<%- carousel_caption02 %>">
<meta property="og:carousel_img02" content="<%= carousel_img02 %>">

<meta property="og:carousel_title03" content="<%- carousel_title03 %>">
<meta property="og:carousel_caption03" content="<%- carousel_caption03 %>">
<meta property="og:carousel_img03" content="<%= carousel_img03 %>">

<meta property="og:bio_img01" content="<%= bio_img01 %>">
<meta property="og:bio_img02" content="<%= bio_img02 %>">
<meta property="og:bio_img03" content="<%= bio_img03 %>">

<meta property="og:bio_txt01" content="<%= bio_txt01 %>">
<meta property="og:bio_txt02" content="<%= bio_txt02 %>">
<meta property="og:bio_txt03" content="<%= bio_txt03 %>">
<meta property="og:bio_txt04" content="<%= bio_txt04 %>">
<meta property="og:bio_txt05" content="<%= bio_txt05 %>">
<meta property="og:bio_txt06" content="<%= bio_txt06 %>">
<meta property="og:bio_txt07" content="<%= bio_txt07 %>">

<h1><%- header_01 %></h1>
<p><%- header_02 %></p>           
<h1 id="reverso"><%- header_03 %></h1>

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="<%= carousel_img01 %>"
            class="main_img d-block w-100"
            alt="01">
        <div class="carousel-caption d-md-block">
          <h5><%- carousel_title01 %></h5>
          <h6><%- carousel_caption01 %></h6>
        </div>
      </div>
      <div class="carousel-item">
        <img src="<%= carousel_img02 %>"
        class="main_img d-block w-100"
        alt="02">
        <div class="carousel-caption d-md-block">
          <h5><%- carousel_title02 %></h5>
          <h6><%- carousel_caption02 %></h6>
        </div>
      </div>
      <div class="carousel-item">
        <img src="<%= carousel_img03 %>"
        class="main_img d-block w-100"
        alt="03">
        <div class="carousel-caption d-md-block">
          <h5><%- carousel_title03 %></h5>
          <h6><%- carousel_caption03 %></h6>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<button type="button" class="btn btn-primary" id="liveToastBtn">CONOCE NUESTRO LEMA!</button>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
        <strong class="me-auto">GreenLeaves</strong>
        <small>Desde 1990</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        'Tu jardín, nuestra naturaleza'
        </div>
    </div>
</div>

<h1><%- bio_txt01 %></h1>
<img src="<%= bio_img01 %>"
class="aboutus01"
alt="001">
<p><%- bio_txt02 %></p>
<p><%- bio_txt03 %></p>
<p><%- bio_txt04 %></p>
<img src="<%= bio_img02 %>"
class="aboutus01"
alt="002">
<h1 id="reverso"><%- bio_txt05 %></h1>
<p><%- bio_txt06 %></p>
<img src="<%= bio_img03 %>"
class="aboutus01"
alt="003">
<p><%- bio_txt07 %></p>
<div>
  <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-bs-toggle="popover"
  data-bs-trigger="focus" data-bs-title="Desde pequeño..."
  data-bs-content="'me gustaba vivir alrededor de la naturaleza, del aire puro, y siempre trataba de cuidar las plantas y conservar la limpieza en el patio de mi hogar. Años después, la idea nació y el proyecto lo llevamos a cabo, con la misma pasión que cuando lo hacía de niño! Siempre que contagiemos de buenos sentimientos lo que hacemos, los resultados nos asombrarán'"
  data-bs-custom-class="custom-popover"
  id="liveToastBtn03">"Siempre persevera!"</a>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function()
  {
      const toastTrigger = document.getElementById('liveToastBtn')
      const toastLiveExample = document.getElementById('liveToast')
      if (toastTrigger) {
        toastTrigger.addEventListener('click', () => {
          const toast = new bootstrap.Toast(toastLiveExample)

          toast.show()
        })
      }
  });
  
  document.addEventListener("DOMContentLoaded", function()
  {
      const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
      const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
  });
</script>
